<h2>Productos</h2>

<div *ngFor="let productItemProductListComponent of productListProductListComponent">
	<h3>
		<a [title]="'Click here for details of product: ' + productItemProductListComponent.name">
			{{productItemProductListComponent.name}}
		</a>

		<p *ngIf="productItemProductListComponent.description">
			Description: {{productItemProductListComponent.description}}
		</p>

		<button (click)="shareProduct()">
      Share Product!
    </button>

		<app-product-alerts [productProxy]="productItemProductListComponent" (notifyProxy)="onNotifyByProductAlert()"
		>
		</app-product-alerts>

	</h3>
</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->